* {
     padding: 0;
     margin: 0;
}
ul li {
    list-style: none;
}
.carouselBox {
    width:6.4rem;
    height: auto;
    text-align: center;
}
/* .carouselUl {
    border-radius: 1rem;
    width:6.4rem;
    height: 9.8rem;
    display: inline-flex;
    overflow: hidden;

}
.carouselUl li img {
    width: 100%;
    height: 100%;
}
.carouselUl li {
    display: inline-block;
    transition: all 2s;
    transform:translateX(0px);
} */
.carouselBox img {
    border-radius: .2rem;
    width:98%;
    height: 98%;
}

