.Goods_First_Box {
    background-color: rgb(233, 232, 232);
    width: 5.5rem;
    margin: .07rem;
}
.goodsBox {
    width: 1.39rem;
    height: 1.39rem;
    border-radius: .08rem;
    position: relative;
    background-color: rgb(253, 253, 253);
    }
.picBox {
    position: relative;
    width: .97rem;
    height: .97rem;
    margin:0 auto;

}
.picBox img {
    position: absolute;
    top:calc(50% - 25px);
    left: calc(50% - 25px);
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.goodsBox p {
    font-size: .2rem;
    color: #999;
    height: .3rem;
    width: 100%;
    line-height: .3rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Goods_First_Box b {
    font-size: 0.2rem;
    font-weight: 400;
    width: 1.39rem;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: red;
}