#AD {
    margin-top: 1rem;
    width: 23rem;
    height: 45rem;
}
.ADbox {
    list-style: none;
    width: 23rem;
    height: 33rem;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.ADbox >:first-child {
    width: 180.22px;
    height: 255.22px;
}
.ADbox li {
    display: inline-block;
    width: 180.22px;
    height:126.56px ;
    margin-right: 3px;;
    margin: 1px 1px 1px 1px;
}
.ADbox li img {
    width: 100%;
    height: 100%;
} 
.ADbox :nth-child(2) {
    position: absolute;
}
.promitionGoods {
    width: 23rem;
    height: 10rem;
    display: flex;
    margin: 0 auto;
}
.promitionGoods li {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    background-color: #f9f9f9;
    
}
.promitionGoods >li >img {
    width: 100%;
    height: 100%;
}
#promotion_title,#promotion_price {
    color:black;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.promitionGoods li :nth-child(3) {
    color: darkgray;
    text-overflow: ellipsis;
    white-space: nowrap;
text-align: center; 
overflow: hidden;

}



