* {
     padding: 0;
     margin: 0;
}
ul li {
    list-style: none;
}
.carouselBox {
    width:23rem;
    height: 9.8rem;
}
.carouselUl {
    border-radius: 1rem;
    width:23rem;
    height: 9.8rem;
    display: inline-flex;
    overflow: hidden;

}
.carouselUl li img {
    width:23rem;
    height: 9.8rem;
}
.carouselUl li {
    display: inline-block;
    transition: all 2s;
    transform:translateX(0px);
}
.carouselBox img {
    border-radius: 1rem;
    width:23rem;
    height: 9.8rem;
}

