* {
    margin: 0;
    padding: 0;
    border: 0;
}
.emptydiv {
    width:23rem;
    height: 5.5rem;
}
.headBox {
    width:23rem;
    height: 5.5rem;
    background-color: white;
    position: fixed;
    z-index: 999;
}
.headUl ,.textUl {
    list-style: none;
    display: flex;
}
.headLi_1,.headLi_2,.headLi_3 {
    list-style: none;
    display: inline-block;
}
.keywords,.msg {
    display: inline-block;
    height: 2.4rem;
    line-height: 2.4rem;
}
.headLi_1 {
    width: 5.5rem;
    height:2.6rem;
    margin-left: 0.5rem;
}
.headLi_1 img {
    margin-top: 1rem;
    width: 5rem;
    height: 1rem;
}

.headLi_2 {
    width: 13rem;
    height: 2.4rem;
    line-height: 2.4rem;
    background-color: rgba(155,155,155,.1);
    border-radius: 3rem;
    margin-top:0.4rem;
}
.headLi_2 img {
    margin-right: 0.5rem;
    margin-left: -5rem;
    margin-top: 0.7rem;
}
.headLi_3 {
    width: 5rem;
    height: 2.6rem;
    display: flex;
    margin-left: 1.2rem;
    margin-top: 0.4rem;
}
.headLi_3 img {
    margin-right: 0.5rem
}
.msg {
    color: #4c4c4c;
    height: 2.4rem;
    line-height: 2.6rem;
}
.textUl {   
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
}
.textUl li {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 7.8rem;
    
}
.textUl :first-child {
    width: 2.4rem;
    color: #cc0e11;
    margin-left: 0.7rem;
    border-bottom: 0.1rem solid red;
}
